.top_artist_and_track_preview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user_preview_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    color: #fff;
}

.user_preview_heading h3 {
    font-size: 1.17em;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.top_artist li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.top_artist img {
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

.artist_name {
    color: #fff;
    text-decoration: none;
    flex-grow: 1;
}